doctype 5
html(lang="en")
  head
    title Monstercat 015 - Outlook
    link(rel='stylesheet', href='css/outlook.css')
    link(rel='stylesheet', href='css/sc-player-minimal.css')
    link(rel='stylesheet', type="text/css", href='public/css/font-awesome.min.css')
    link(rel='stylesheet', type="text/css", href='css/alertify.bootstrap.css')
    link(rel='stylesheet', type="text/css", href='public/css/bootstrap.min.css')
  body
    div.preload
      div.loading
        img.loading-text(src="https://s3.amazonaws.com/data.monstercat.com/outlook/loading.svg")
        br
        img.loading-art(src="https://s3.amazonaws.com/data.monstercat.com/outlook/art.jpg")
        .loading-logos
          img.loading-logo(src="https://s3.amazonaws.com/data.monstercat.com/outlook/logo.png")
          img.loading-logo(src="https://s3.amazonaws.com/data.monstercat.com/outlook/logo.png")
          img.loading-logo(src="https://s3.amazonaws.com/data.monstercat.com/outlook/logo.png")
          img.loading-logo(src="https://s3.amazonaws.com/data.monstercat.com/outlook/logo.png")
          img.loading-logo(src="https://s3.amazonaws.com/data.monstercat.com/outlook/logo.png")
      br
      div.skip
        a(href="https://www.monstercat.com/index.html")
          span Skip to Monstercat.com
    div(id="container", class="box-container")
      ul(id="scene", class="scene")
        li(class="layer", data-depth="1.00")
          div.stars
        li(class="layer", data-depth="0.80")
          div.aurora
        li(class="layer", data-depth="0.60")
          div.mountains
        li(class="layer", data-depth="0.40")
          div.trees
        li(class="layer", data-depth="0.20")
          div.grass
    div.cover-page
      div.album-container
        img.album-name(src="http://data.monstercat.com/outlook/album-name.svg")
        img.album-art(src="https://s3.amazonaws.com/data.monstercat.com/outlook/art.jpg")
        div.soundcloud-embed
          div.soundcloud-square
            a.sc-player(href="https://soundcloud.com/monstercat/sets/monstercat-014-discovery")
        img.available(src="https://s3.amazonaws.com/data.monstercat.com/outlook/avail.svg")
    div.top-right
      a(href="https://www.monstercat.com/index.html")
        span Continue to Monstercat.com
    .side-bar
      .content-container
        .content
          form.form-horizontal.hidden.form.gift-form#gift-form
            h4.text-center Gift this album to a friend
            .control-group
              label.control-label.friend-email(for="form-name") Your Name
              .controls
                input#form-name.input-field(type='text',placeholder='Name', name="name")
            .control-group
              label.control-label(for="form-email") Your Email
              .controls
                input#form-email.input-field(type='text',placeholder='Email',name='email')
            .control-group
              label.control-label(for="form-itunesNo") iTunes Receipt No.
              .controls
                input#form-itunesNo.input-field(type='text',placeholder='iTunes Receipt No.',name='itunesNo') .control-group
            .control-group
              label.control-label(for="form-friend") Friend's Name
              .controls
                input#form-friend.input-field(type='text',placeholder='Name',name='friendName')
            .control-group
              label.control-label(for="form-friendEmail") Friend's Email
              .controls
                input#form-friendEmail.input-field(type='text',placeholder='Email',name='friendEmail')
            .control-group
              .controls
                input.btn.submit-gift(type='submit',value='Send Gift')
        .err-section
          span.err-message show the err
      .gift.clickable.arrow#gift-btn(data-toggle="tooltip", title="Gift a Friend", data-placement="top")
    script(src="lib/parallax.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    script(src="lib/soundcloud.player.api.js")
    script(src="lib/sc-player.js")
    script(src="lib/alertify.min.js")
    script(src='public/script/bootstrap.min.js')
    script(type='text/javascript', src='index.js')
    script.
      var scene = document.getElementById('scene');
      var parallax = new Parallax(scene);
    script.
      $(window).resize(
        function () {
          $('ol.sc-trackslist').css('height', Math.min($(window).width()/2-61, 239) + "px");
        }
      );
      var numLeft = 5;
      function load(el, url) {
        var img = $("<img />").attr('src', url).load(function() {
          if (!this.complete ||
              typeof this.naturalWidth == "undefined" ||
              this.naturalWidth == 0) {
            console.log("Problem loading image");
          } else {
            $(el).append(img);
            numLeft -= 1;
            $('.loading-logos img:last-child').remove();
            if (numLeft == 0) {
              $(".preload").fadeOut(1000);
              $(".side-bar").addClass("side-bar-fade");
            }
          }
        });
      }
      if ($(window).width > 1000 || $(window).height() > 1000) {
        load(".stars", "https://s3.amazonaws.com/data.monstercat.com/outlook/stars@2x.jpg");
        load(".aurora", "https://s3.amazonaws.com/data.monstercat.com/outlook/aurora@2x.png");
        load(".mountains", "https://s3.amazonaws.com/data.monstercat.com/outlook/mountains@2x.png");
        load(".trees", "https://s3.amazonaws.com/data.monstercat.com/outlook/trees@2x.png");
        load(".grass", "https://s3.amazonaws.com/data.monstercat.com/outlook/grass@2x.png");
      } else {
        load(".stars", "https://s3.amazonaws.com/data.monstercat.com/outlook/stars.jpg");
        load(".aurora", "https://s3.amazonaws.com/data.monstercat.com/outlook/aurora.png");
        load(".mountains", "https://s3.amazonaws.com/data.monstercat.com/outlook/mountains.png");
        load(".trees", "https://s3.amazonaws.com/data.monstercat.com/outlook/trees.png");
        load(".grass", "https://s3.amazonaws.com/data.monstercat.com/outlook/grass.png");
      }

