doctype 5
html(lang="en")
  head
    title Monstercat 015 - Outlook
    link(rel='stylesheet', href='css/outlook.css')
    link(rel='stylesheet', href='css/sc-player-minimal.css')
  body
    div(id="container", class="container")
      ul(id="scene", class="scene")
        li(class="layer", data-depth="0.00")
          div.stars
        li(class="layer", data-depth="0.20")
          img.aurora(src="//data.monstercat.com/outlook/aurora.png")
        li(class="layer", data-depth="0.40")
          img.mountains(src="//data.monstercat.com/outlook/mountains.png")
        li(class="layer", data-depth="0.60")
          img.trees(src="//data.monstercat.com/outlook/trees.png")
        li(class="layer", data-depth="0.80")
          img.grass(src="//data.monstercat.com/outlook/grass.png")
    div.cover-page.fade-in
      div.album-container
        img.album-name(src="//data.monstercat.com/outlook/album-name.svg")
        img.album-art(src="//data.monstercat.com/outlook/art.jpg")
        div.soundcloud-embed
          div.soundcloud-square
            a.sc-player(href="https://soundcloud.com/monstercat/sets/monstercat-014-discovery")
        img.available(src="//data.monstercat.com/outlook/avail.svg")

    script(src="lib/parallax.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    script(src="lib/soundcloud.player.api.js")
    script(src="lib/sc-player.js")
    script.
      var scene = document.getElementById('scene');
      var parallax = new Parallax(scene);
    script.
      $(window).resize(
        function () {
          $('ol.sc-trackslist').css('height', Math.min($(window).width()/2-61, 239) + "px");
        }
      );
