doctype 5
html(lang="en")
  head
    title Monstercat 015 - Outlook
    link(rel='stylesheet', href='css/outlook.css')
  body
    div(id="container", class="box-container")
      ul(id="scene", class="scene")
        li(class="layer", data-depth="1.00")
          div.stars
        li(class="layer", data-depth="0.80")
          div.aurora
        li(class="layer", data-depth="0.60")
          div.mountains
        li(class="layer", data-depth="0.40")
          div.trees
        li(class="layer", data-depth="0.20")
          div.grass
    div.cover-page.fade-in
      div.album-container
        img.album-art(src="http://data.monstercat.com/outlook/art.jpg")
        img.available(src="http://data.monstercat.com/outlook/release.svg")
    div.top-right
      a(href="www.monstercat.com")
        h4 Continue to Monstercat.com
    .side-bar
      .gift.clickable.arrow
    script(src="lib/parallax.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    script.
      var scene = document.getElementById('scene');
      var parallax = new Parallax(scene);
