body{
  background-color: black;
  overflow: hidden;
}

.content-container{
  color: white;
  float: right;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.49);
  width: 450px;
}

.arrow{
  float: left;
  width: 60px;
  height: 100px;
  background-color: rgba(34, 34, 34, 0.49);
  border-radius: 60px 0px 0px 60px;
  position: relative;
  top: 45%;
  border: 2px solid rgb(44, 44, 44);
  border-right: 0px;
}

.side-bar{
	position: absolute;
	height: 100%;
  top: 0px;
  font-family: sans-serif;
  right: -400px;
}

.side-bar-icon{
  top: 5%;
  position: absolute;
  z-index: 1000;
  left: 15px;
  margin: 35px 0px 0px 10px;
}

.arrow{
  float: left;
  width: 60px;
  height: 100px;
  background-color: rgba(34, 34, 34, 0.49);
  border-radius: 60px 0px 0px 60px;
  position: relative;
  top: 45%;
  border: 2px solid rgb(44, 44, 44);
  border-right: 0px;
}

.border{
  overflow: auto;
  top: 50%;
  position: relative;
}

.gift-form{
  margin-top: 40%;
}

.icon-gift{
  margin: 40px 0px 0px 20px;
  font-size: 32px;
  color: red;
}
